.html{
    size: 50px;
}

.title-1{
    text-align: center;
    color: purple;
    font-size: 200px;
}

.purple-background{
    background-color: plum;
}

.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    color: black;
    text-align:center
}



.heading-1-1{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

.heading-1-2{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}


.link{
    font-size: 40px;
    text-align: center;
    color: blue;
}

.two-column{
    gap: 75px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin:auto;
    }
    
.two-column img{
    width: 100%;
    margin-top: 125px;
}

.title-2{
    font-size: 150px;
    text-align: center;
    color: purple;
}
.heading-2-1{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

.paragraph{
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.heading-2-2{
    text-align: left;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}

.title-3{
    font-size: 200px;
    text-align: center;
    color: purple;
}

.heading-3-1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

.heading-3-2{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

.title-4{
    font-size: 200px;
    text-align: center;
    color: purple;
}

.heading-4-1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

.heading-4-2{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

.heading-5-1{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
}

.title-5{
    font-size: 175px;
    text-align: center;
    color: purple;
}